.features {
  margin: 0;
  padding: 0 0 44px;

  list-style: none;

  background-color: $white-color;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.features__item {
  position: relative;

  padding: 32px 20px 0 65px;

  @media (min-width: $tablet-width) {
    min-height: 330px;
    padding: 59px 32px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px 20px;
  }
}

.features__item-icon {
  position: absolute;
  top: 24px;
  left: 18px;

  width: 40px;
  height: 40px;

  fill: $main-light-blue-color;

  @media (min-width: $tablet-width) {
    position: static;

    display: block;
    width: 77px;
    height: 72px;
    margin: 0 auto 27px;

    &--gift {
      width: 67px;
      height: 79px;
      margin: 0 auto 15px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 80px;

    &--gift {
      width: 78px;
      height: 75px;
      margin: 0 auto 27px;
    }
  }
}

.features__item-title {
  margin: 0 0 17px;

  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px;

    text-align: center;
  }
}

.features__item-description {
  margin: 0;

  text-align: left;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    & br {
      display: block;
    }
  }
}
