.input {
  margin: 0;
  padding: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black-color;

  background-color: $gray-f2;
  border: 4px solid $gray-f2;

  &::placeholder {
    color: $black-color-opacity-3;
  }

  &:hover {
    background-color: $gray-e5;
    border: 4px solid $gray-e5;
  }

  &:focus {
    background-color: $white-color;
    border: 4px solid $gray-e5;
    outline: none;
  }
}
