.page-header {
  padding: 52px 0 27px;

  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  background-size: contain;

  &--index {
    min-height: 600px;
    padding: 90px 0 38px;

    background-image: url("../../img/back-mobile-index.jpg");
    background-position: 0 0;
  }


  @media (min-width: $tablet-width) {
    padding: 52px 0 23px;

    &--index {
      min-height: 724px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;

    &--index {
      min-height: 724px;
    }
  }
}

.page-header__text-banner {
  display: block;
  margin: 0 auto 104px;

  &--index {
    margin-bottom: 118px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 264px;

    &--index {
      margin-bottom: 300px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 316px;

    &--index {
      margin-bottom: 312px;
    }
  }
}

.page-header__title {
  margin: 0 0 25px;
  padding: 0 24px;

  &--index {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
    padding: 0 80px;

    font-size: 30px;

    &--index {
      margin-bottom: 30px;

      font-size: 21px;
    }

    &--catalog {
      margin: 0 0 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
    padding: 0 300px;

    &--index {
      margin-bottom: 30px;
    }
  }
}

.page-header__description {
  margin: 0;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 165px;

    line-height: 23px;

    &--index {
      padding: 0 100px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;

    &--index {
      padding: 0 250px;
    }
  }
}
