.page-header {
  padding: 38px 18px 25px;

  &--index {
    padding: 34px 25px 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 65px 60px 24px;

    &--index {
      padding: 48px 60px 53px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 114px 120px 24px;

    &--index {
      padding: 60px 120px 41px;
    }

    &--video-block {
      padding: 99px 120px 41px;
    }
  }
}

.page-header__title {
  margin: 0 0 25px;
  padding: 0;

  &--index {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;

    font-size: 30px;

    &--index {
      margin-bottom: 30px;

      font-size: 21px;
    }

    &--video-block {
      margin: 0 0 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;

    &--index {
      margin-bottom: 30px;
    }
  }
}

.page-header__description {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }
}
