.page-header {
  padding: 52px 0 27px;

  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;

  &--index {
    padding: 90px 0 15px;

    background-image: url("../../img/back-mobile-index.jpg");
    background-position: 0 0;
    background-size: 100% 389px;
  }


  @media (min-width: $tablet-width) {
    min-height: 471px;
    padding: 95px 0 24px;

    background-size: 100% 345px;

    &--index {
      min-height: 724px;
      padding: 78px 0 23px;

      background-size: 100% 518px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;
    padding: 100px 0 24px;

    &--index {
      min-height: 724px;
      padding: 78px 0 23px;
    }
  }
}

.page-header__text-banner {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto 104px;

  &--index {
    width: 282px;
    height: 214px;
    margin-bottom: 118px;
  }

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    margin: 0 auto 181px;

    &--index {
      width: 461px;
      height: 350px;
      margin-bottom: 139px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 235px;

    &--catalog {
      margin: 0 auto 220px;
    }

    &--index {
      margin-bottom: 150px;
    }
  }
}

.page-header__title {
  margin: 0 0 25px;
  padding: 0 24px;

  &--index {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
    padding: 0 80px;

    font-size: 30px;

    &--index {
      margin-bottom: 30px;

      font-size: 21px;
    }

    &--catalog {
      margin: 0 0 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
    padding: 0 300px;

    &--index {
      margin-bottom: 30px;
    }
  }
}

.page-header__description {
  margin: 0;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 165px;

    line-height: 23px;

    &--index {
      padding: 0 100px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;

    &--index {
      padding: 0 250px;
    }
  }
}
