.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black-color;

  &--light {
    color: $white-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
