.video {
  margin: 0 0 15px;
  padding: 16px 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    padding: 26px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 55px;
  }
}

.video__title {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px;

    font-size: 30px;
  }
}

.video__description {
  margin: 0 0 38px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 89px;
    padding: 0 95px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 87px;
    padding: 0 310px;
  }
}

.video__player {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 500px;
  }
}
