.welcome-banner {
  position: relative;

  width: $minimal-width;
  margin: 0 auto;
  padding: 52px 18px 67px;

  color: $white-color;

  background-color: $welcome-banner-back;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -231px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
  }

  &--index {
    padding: 90px 18px 85px;

    background-position: center 0;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 1200px;
    height: 57px;

    background-image: url("../../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center 0;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 95px 60px 117px;

    background-image: url("../../img/back-tablet.jpg");
    background-position: center -228px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.jpg");
    }

    &--index {
      padding: 77px 60px 91px;

      background-position: center 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 102px 120px 120px;

    background-image: url("../../img/back-desktop.jpg");
    background-position: center -217px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
    }

    &--index {
      padding: 78px 120px 90px;

      background-position: center 0;
    }
  }
}

.welcome-banner__image {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;

  &--index {
    width: 282px;
    height: 214px;
  }

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;

    &--index {
      width: 461px;
      height: 350px;
    }
  }
}
