$text-color: #333333;
$white-color: #ffffff;
$gray-ee: #eeeeee;
$gray-d6: #d6d6d6;
$black-color: #000000;
$main-light-blue-color: #81b3d2;
$main-blue-color: #669ec0;
$main-dark-blue-color: #5496bd;
$opacity-white-color-2: rgba(255, 255, 255, 0.2);
$opacity-white-color-3: rgba(255, 255, 255, 0.2);
$opacity-black-color-2: rgba(1, 1, 1, 0.2);
